@CHARSET "UTF-8";
.lineitems{position:relative;display:block;line-height: 20px;border-bottom: 1px solid #f5f5f5;padding:8px 0;min-height: 20px;}
.lineitems-text{line-height: 24px;text-align: right;padding:0px 10px;position: absolute;color:#8f949e}
.lineitems-area{height:auto;position: relative;left: 110px;}
.lineitems-all{position: absolute;padding:0 10px;line-height: 18px;margin: 4px 0 2px 0;cursor: pointer;}
.lineitems-fold{display:inline-block;position: relative;left:50px;}
.lineitems-list{overflow: hidden;height: auto;list-style:none;margin:0px;padding:0px;}
.lineitems-li{float: left;height: 20px;cursor: pointer;margin: 2px 10px 2px 0;}
.lineitems-li>span{color: #5ca3fe;display: inline-block;height: 24px;line-height: 20px;
    padding: 0 15px;vertical-align: middle;text-decoration: none;white-space: nowrap;}
.lineitems-li>span:hover{background: #ebf2fa;border-color:1px solid #cdddf2;color: #5ca3fe !important;border-radius: 2px;}
.lineitems-selected{border: 1px solid #B9BF30;padding: 1px 4px !important;}
.lineitems-option{cursor: pointer;height: 20px; padding-top: 1px;width: 50px;position: absolute;right: 0;display: inline-block;top: 0;}
.lineitems-more-btn{background-color: #27c24c;border: 1px solid #27c24c;color: #ffffff;border-radius: 3px;
	padding: 1px 5px;margin-right:5px;cursor: pointer;display: inline-block;cursor: pointer;
	float: right;text-align: center;vertical-align: middle;width:40px;}
.lineitems-filter-item{padding:2px 5px;display:inline-block;};
.lines-more{color: #005AA0;cursor: pointer;float: right;height: 20px;line-height: 20px;padding-right: 14px;position: relative;text-align: right;text-decoration: none;width: 45px;}
.lines-more>b{height: 5px;overflow: hidden;position: absolute;right: 5px;top: 9px;width: 7px;}
.lines-more-down>b{background: url("img/folddown.gif") no-repeat scroll 0 0 transparent;}
.lines-more-up>b{background: url("img/foldup.gif") no-repeat scroll 0 0 transparent;}
.lineitems-active{background-color: #5ca3fe;color: #ffffff !important;}

.select-input{border-radius: 4px;color: #555555;display: inline-block;font-size: 12px;height: 20px;
	line-height: 20px;padding: 4px 6px;vertical-align: middle;border: 1px solid #cccccc;}
.search-image-btn{background: url("../img/uicon.png") no-repeat scroll 0 -140px rgba(0, 0, 0, 0);cursor:pointer;
    height: 18px;width: 18px;display: inline-block;vertical-align: middle;left: 190px;position: absolute;top: 6px;}